@media only screen and (max-width: 1150px){

    .hero-section>h1{
        top: 40%;
        left: 25%;
    }

    .hero-section>a{
       
        top: 56%;
        right: 40%;
        font-size: 21px;
        color: #fff;
  
        
    }


}
@media only screen and (max-width: 900px){
    .hero-section>h1{
        top: 40%;
        left: 20%;
        font-size: 50px;
    }

    .hero-section>a{
       
        top: 56%;
        right: 35%;
        font-size: 21px;
        color: #fff;
        
    }

}


@media only screen and (max-width: 760px){

    .hero-section>h1{
        top: 40%;
        left: 20%;
        font-size: 40px;
    }


}
@media only screen and (max-width: 610px){

    .hero-section>h1{
        top: 40%;
        left: 20%;
        font-size: 30px;
    }

    .hero-section>a{
        text-decoration: none;
        position: absolute;
        top: 55%;
        right: 48%;
        border: solid 2px #fff;
        padding: 12px 50px 12px 20px;
        font-size: 18px;
        color: #fff;
        transition: 500ms;
        
    }
}